.errorModule {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 80%;
  max-width: 30em;
  padding: 20px;
  text-align: center;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 60%;
  padding-bottom: 2em;
}
.errorModule p {
  margin-bottom: 20px;
}

.errorModule button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.errorModule button:hover {
  background-color: darkblue;
}
