.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

.upperHeading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 15em;
  height: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.div h4 {
  margin-bottom: 10px;
}

.div ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div ul li {
  margin-bottom: 5px;
  padding-top: 0.6em;
  transition: color 0.3s ease;
}

.div li:hover {
  cursor: pointer;
  color: #ffc107;
}

.socialIcons {
  display: flex;
  font-size: 3rem;
  gap: 1em;
  margin-top: 1em;
}

.socialIcons i {
  margin-right: 10px;
}

.socialIcons * {
  transition: color 0.3s ease;
}

.socialIcons *:hover {
  cursor: pointer;
  color: #ffc107;
}

.otherBrands {
  list-style: none;
  padding: 0;
}

.otherBrands li {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .div {
    flex-basis: 100%;
  }
}
