.gameSlider {
  width: 88%;
  margin-left: 0.5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid green;
}

.carouselItem {
  border: 1px solid red;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.gameSlider div::-webkit-scrollbar {
  display: none;
}
