.roleFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  max-width: 40em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}

.roleFilter button {
  width: 5em;
  margin-bottom: 0.1em;
  margin-top: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roleFilter button:hover {
  background-color: #0056b3;
}

.gamesContainer {
  position: relative;
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #101010;
  border-radius: 5px;
  margin-top: 1em;
  text-align: center;
  font-size: 1.4em;
}

.error {
  background-color: #ff4d4f;
}

.gamesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gameDiv {
  width: auto;
  margin-bottom: 1.4em;
}

@media (max-width: 385px) {
  .roleFilter button {
    font-size: 0.8em;
  }
}
