.cartButton {
  cursor: pointer;
  color: #010101;
  background-color: white;
  margin-right: 2em;
  padding: 0.2em 1em;
  border-radius: 13px;
  gap: 1em;
}

.icon {
  color: #ffc107;
}

.cartButton:hover {
  opacity: 0.8;
}

.cartIcon {
  width: 30px; /* Adjust size as needed */
}

.itemCount {
  font-weight: bold;
  font-size: 1.2em; /* Adjust size as needed */
}
