.articleTitle {
  width: 86%;
  margin-left: 0.5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid black;
  margin-top: 2em;
  margin-bottom: 0.9em;
}

.articleTitle h2 {
  font-size: 1.5em;
  font-weight: bold;
}
