.itemCard {
  width: 19em;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: transform 0.2s;
}

.itemCard:hover {
  transform: scale(1.05);
  border: 1px solid #ffbd3f;
}

.image {
  width: 100%;
  height: 13em;
  margin-bottom: 10px;
}

.name {
  font-size: 1.4em;
  padding-left: 0.4em;
  font-weight: 500;
  margin-bottom: 10px;
  height: 1em;
  overflow-y: scroll;
  margin-bottom: 0.5em;
}

.name::-webkit-scrollbar {
  display: none;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.button {
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 5px;
}

.cartButton {
  background-color: #ffbd3f;
  font-size: 1.1em;
  margin-left: 0.4em;
}

.cartButton:hover {
  background-color: #ffbc3fe3;
}

.button:hover {
  transform: scale(1.05);
}

.in {
  font-weight: 600;
}

.in2 {
  font-weight: 400;
}

.desc {
  height: 9em;
  width: 95%;
  margin-left: 0.4em;
  overflow: scroll;
  text-align: left;
  font-size: 0.9em;
  color: rgba(128, 128, 128, 0.93);
  padding: 0.2em;
  padding-bottom: 0.3em;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #ffbd3f;
}

.desc::-webkit-scrollbar {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6em;
  padding-left: 0.6em;
}

@media screen and (max-width: 311px) {
  .itemCard {
    width: 90%;
  }
}
